html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.ids{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.id{
  width: 30rem;
  height: 44.5rem;
  border: 4px solid#fff;
  border-radius: 3rem;
  margin: 1rem 2rem 5rem 2rem;
  overflow: hidden;
  position: relative;

}
.image{
  max-width:100%;
  height:auto;
  display: non;
}
.trainer-info{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30rem;
  border-radius: 3rem 3rem 0 0 ;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
}
.id:hover .trainer-info{
  top: 15rem;
  opacity: 1;
  background:rgb(209, 25, 25);
}
.name{
  font-size: 4rem;
  text-align: center;
  /* text-shadow: 1px 1px 1px rgba(255,255,255,0.6); */

  margin: .5rem;
}
.field{
  font-size: 3rem;
  text-align: center;
  margin: .5rem;
}
.experienc{
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}
/* End of  section 2 */